.bannerWrapper {
  display: flex;
  width: 95%;
  margin: 20px auto;
  border-radius: 20px;
  overflow: hidden;
  height: 300px;
  align-items: center;
  position: relative;
  isolation: isolate;
  flex-direction: row;
}

.leftPanel,
.rightPanel {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  padding: 10px;
}

.leftPanel {
  background-color: #002244;
  border-right: 3px solid #fff;
  border-bottom-left-radius: 24px;
  border-top-left-radius: 24px;
}

.rightPanel {
  background-color: #e53935;
  border-left: 3px solid #fff;
  border-bottom-right-radius: 24px;
  border-top-right-radius: 24px;
}

.content {
  display: flex;
  align-items: center;
  gap: 15px;
}

.content h2 {
  font-size: 36px;
  color: #fff;
  margin: 0;
}

.content img {
  height: 220px;
  object-fit: contain;
  margin-top: 30px;
  bottom: 0px;
}


.divider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) rotate(-8deg);
  width: 45px;
  background-color: #fff;
  z-index: 2;
  transition: all 0.3s ease;
}

/* Responsive Fix */
@media (max-width: 1024px) {
  .bannerWrapper {
    flex-direction: column;
    height: auto;
  }

  .leftPanel,
  .rightPanel {
    width: 100%;
    border: none;
    border-radius: 0;
  }

  .divider {
    position: static;
    width: 100%;
    height: 6px;
    transform: none;
    margin: 10px 0;
  }

  .content {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }

  .content h2 {
    font-size: 24px;
  }

  .content img {
    height: 150px;
    margin-top: 10px;
  }
}